.about-section {
  background-color: #000;
  color: #fff;
  padding: 90px 30px;
  text-align: center;
  max-width: 1200px; 
  margin: 0 auto;       
  box-sizing: border-box;
}

.about-header .tagline {
  color: #ff4d4d;
  letter-spacing: 2px;
  font-weight: bold;
  margin-bottom: 10px;
}

.about-header h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.about-header .desc {
  color: #ccc;
  font-size: 15px;
  max-width: 700px;
  margin: auto;
  padding-bottom: 50px;
}

.about-images {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 40px 0;
}

.about-images img:nth-child(1) {
  transform: translateY(-30px);
}
.about-images img:nth-child(2) {
  transform: translateY(30px);
}
.about-images img:nth-child(3) {
  transform: translateY(-30px);
}

.about-images img {
  width: 250px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.about-images img:hover {
  transform: translateY(-10px) scale(1.05);
}

.why-work h2 {
  margin-top: 30px;
  padding-top: 50px;
  padding-bottom: 10px;
}

.pill-container {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.pill-container span {
  background-color: #1a1a1a;
  padding: 6px 15px;
  border-radius: 20px;
  font-size: 14px;
  color: #ff4d4d;
}

.why-work span{
 color: #ff4d4d;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 10px;
}

.about-cards {
  margin: 40px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 50px;
  max-width: 1000px;
}

.card {
  background-color: #111;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #222;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  transition: box-shadow 0.3s ease;
  border-radius: 10px;
  border: 2px solid transparent;
}

.card:hover {
  box-shadow: 0 0 10px 2px #ff4d4d;
}

.about-values h2 {
  margin: 40px;
}

.value-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.value-cards > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.value-cards div {
  background: #1a1a1a;
  padding: 20px;
  border-radius: 10px;
  max-width: 250px;
}

.v-card {
  background-color: #111;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  user-select: none; /* Prevent text selection on click */
}

.v-card:hover {
  background-color: #221111;
}

.v-card.active {
  transform: scale(1.05);
  box-shadow: 0 0 20px 4px #ff4d4d;
  background-color: #330000;
}


.about-stats {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 40px;
  padding-bottom: 50px;
  flex-wrap: wrap;          
}

.stat-card .p-design {
  font-size: 14px;          
  color: #ffffff;          
  line-height: 1.5;         
  margin-top: 8px;          
}

.stat-card .stat-girl {
  transform: none;          
  max-width: 100%;
  height: auto;
  
}

.stat-card {
  background: linear-gradient(to top, #ff4d4d, #f57272);
  padding: 30px;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  width: 300px;
  height: auto;           
  min-height: 550px;       
  box-sizing: border-box;
  overflow-wrap: break-word; 
}
